<?php


// get parameters that were posted
$param = get_input('param');


// do something


// now see if it worked
if ($error) {
	register_error(elgg_echo('%%plugin_name%%::failure'));
	forward();
}

// we had success so forward the user somewhere and display success message
system_message(elgg_echo('%%plugin_name%%:success'));
forward();
