<?php
/**
 * %%plugin_name%%
 *
 * @author %%author%%
 */

function %%plugin_name%%_init() {
	global $CONFIG;

%%extend_css_call%%

%%widget_registration%%

%%page_handler_registration%%

%%menu_registration%%

%%sidebar_menu_registration%%

%%action_registration%%				
}


%%page_handler_func%%

%%sidebar_menu_func%%

	
register_elgg_event_handler('init', 'system', '%%plugin_name%%_init');